*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(250, 162, 213) ;
}

.container{
   max-width: 1000px;
   background-color: rgb(241, 200, 200);
   margin: 0 auto ;
   padding-top: 1%;
}

.profile-img{
    width: 100px ;
    height: 120px;
    border: 3px solid rgb(209, 179, 179);
    border-radius: 45%;
    margin-left: 1%;
    margin-bottom: 1%;

} 

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}


.header-bio{
padding: 30px;
    
}


.header-contact{
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: rgb(235, 64, 121);
    font-weight: bold;
    font-style: italic;
}

.header-contact a:hover{
    text-decoration: underline;
    color: rgb(50, 29, 243);
}

hr{
    border: solid rgb(68, 64, 121) 2px; 
}










